<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div><div>
    <label>nickname:
      <input [(ngModel)]="hero.nickname" placeholder="nickname"/>
    </label>
  </div><div>
    <label>birthday （inputイベントを利用した処理）:
      <input
        [ngModel]="hero.birthday"
        (input)="hero.birthday=$event.target.value"
        placeholder="yyyy/mm/dd"/>
    </label>
  </div><div>
    <label>birthday （ngModelChangeイベントを利用した処理）:
      <input
        [ngModel]="hero.birthday"
        (ngModelChange)="hero.birthday=$event"
        placeholder="yyyy/mm/dd"/>
    </label>
  </div><div> 
    <label>birthday （input イベント からcomponentを経由しheroのメソッドを呼びだす処理）:
      <input
        [ngModel]="hero.birthday"
        (input)="setAge(hero.birthday)"
        placeholder="yyyy/mm/dd"/>
    </label>
  </div><div>
    <label>birthday 1:
      <div>{{ hero.birthday }}</div>
    </label>
  </div><div>
    <label>birthday 2:
      <div>{{ hero._birthday }}</div>
    </label>
  </div><div>
    <label>age:
      <div>{{ hero.age }}</div>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

</div>
