<h2>My Heroes</h2>

<div>
  <div>
    <label>Hero name:
      <input #heroName />
    </label>
  </div><div>
    <label>Hero nickname:
      <input #heroNickname/>
    </label>
  </div><div>
    <label>Hero birthday:
      <input #heroBirthday/>
    </label>
  </div>
  <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
  <button (click)="add(heroName.value, heroNickname.value, heroBirthday.value); heroName.value=''; heroNickname.value='';heroBirthday.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}} {{hero.age}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
